* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #070606;
  width: 100vw;
  color: #ffffff;
  overflow-x: hidden;
  transition: 1s;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header--lg {
  display: none;
}
.header--sm {
  display: flex;
}
.header__burger {
  padding-left: 20px;
  flex: 1;
}
.header__items {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 30px;
}
.header__img {
  height: 60px;
  width: 60px;
}
.header__toggle {
  height: 28px;
  width: 69px;
  border-radius: 20px;
  justify-content: space-between;
  display: flex;
  padding-right: 8px;
  align-items: center;
  background-color: black;
  position: relative;
}
.header .toggle__icon {
  height: 21px;
  width: 21px;
}
.header .toggle__select {
  height: 22px;
  width: 22px;
  position: absolute;
  right: 7px;
  border-radius: 50%;
  background-color: #888888;
  transition: 1s;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container--margin {
  margin-top: 60px;
}
.container__search-bar {
  width: 100%;
  margin-left: 38px;
  margin-right: 41px;
  border-radius: 20px;
  height: 34px;
  display: flex;
  align-items: center;
  background-color: white;
}
.container__search-bar .search-bar__icon {
  margin: 0 8px;
}
.container__search-bar .search-bar__input {
  font-size: 16px;
  border: none;
  outline: none;
}
.container__search-bar .search-bar__input::-moz-placeholder {
  font-family: "proxima_nova_rgregular";
}
.container__search-bar .search-bar__input::placeholder {
  font-family: "proxima_nova_rgregular";
}
.container__search-bar .search-bar__input:active {
  border: none;
}

.section__text-container {
  margin-top: 32px;
  padding-left: 23px;
}
.section__image-container {
  display: flex;
  flex-direction: column;
}
.section__image-container--overlap {
  align-items: flex-start;
  position: relative;
}
.section__image-container--hero {
  padding-left: 23px;
}
.section__image-container--margin-lg {
  margin-bottom: 80px;
}
.section__button-container {
  padding-right: 37px;
}
.section__slider-container {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
}
.section__slider--long {
  width: 100vw;
  align-self: flex-start;
  padding-left: 40px;
  overflow: scroll;
}
.section__slider--long::-webkit-scrollbar {
  display: none;
}
.section__slider--hero {
  height: 275px;
  width: 100vw;
  overflow-x: scroll;
  align-items: center;
}
.section__slider--hero::-webkit-scrollbar {
  display: none;
}
.section__scroll-container {
  margin-top: 52px;
  display: flex;
  justify-content: center;
}
.section__scroll {
  margin-bottom: 122px;
}
.section--secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__title {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 60px;
}
.section__title--small {
  font-size: 28px;
  font-weight: bold;
  margin-top: 68px;
  margin-bottom: 40px;
}
.section__title--secondary {
  font-size: 36px;
  font-weight: normal;
  margin-top: 46px;
  margin-bottom: 25px;
}

.gradient-block {
  width: 443.813px;
  height: 443.813px;
  position: absolute;
  border-radius: 443.813px;
  background: #370665;
  z-index: -1;
}

.gradient-block--right {
  left: 50px;
  top: -10px;
  filter: blur(170px);
}

.gradient-block--left {
  left: -50%;
  top: 443px;
  background: #35589a;
  filter: blur(170px);
}

.text-container {
  display: flex;
  flex-direction: column;
}
.text-container__title {
  font-size: 46px;
}
.text-container__title--lg {
  font-size: 56px;
}
.text-container__title--secondary-color {
  color: #f14a16;
}
.text-container__description {
  color: #a4a4a4;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 43px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.button-container--single {
  justify-content: center;
}

.button-container--gap {
  gap: 30px;
}

.button {
  border-radius: 20px;
  font-family: "proxima_nova_rgregular";
  font-weight: 700;
  transition: 0.2s;
  cursor: pointer;
}
.button--md {
  width: 160px;
  padding: 12px 0;
}
.button--sm {
  width: 100px;
  font-size: 10px;
  padding: 10px 0;
}
.button--filled {
  background-color: #f14a16;
  color: white;
  border: 3px solid #f14a16;
  filter: drop-shadow(0px 0px 21px #f14a16);
}
.button--filled:hover {
  background-color: transparent;
  color: #f14a16;
}
.button--outlined {
  background-color: transparent;
  border: 3px solid #f14a16;
  color: #f14a16;
}
.button--outlined:hover {
  background-color: #f14a16;
  color: white;
  filter: drop-shadow(0px 0px 21px #f14a16);
}
.button--with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 250px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.card__text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.card__text-wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  padding-right: 12px;
}
.card__text--with-icon {
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-left: 64px;
  text-align: left;
}
.card__name {
  font-size: 16px;
}
.card__button-container {
  justify-content: space-around;
  margin-top: 10px;
}
.card__content {
  position: relative;
  top: -50%;
}
.card__image {
  display: flex;
  justify-content: center;
}
.card__image-fit {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__number {
  color: #fc9918;
  margin: 0 8px;
  font-size: 16px;
}
.card__number--cancelled {
  color: white;
  text-decoration: line-through;
  font-size: 12px;
}
.card__number-container {
  display: flex;
  align-items: center;
}
.card__text-container {
  padding: 10px;
}
.card__list {
  font-size: 12px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.card__list--margin {
  margin: 14px 0;
}
.card--text-only {
  background: linear-gradient(90deg, #370665 0%, #35589a 100%);
  border: none;
  width: 285px;
  height: 484px;
  margin-bottom: 84px;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}
.card--image-only {
  width: 380px;
  overflow: hidden;
  margin-bottom: 15px;
}
.card__logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card--blue-gradient {
  background: linear-gradient(91deg, #370665 0%, #35589a 100%);
  width: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding: 42px;
  margin-bottom: 138px;
}
.card--blue-gradient .card__image {
  margin-bottom: 42px;
}
.card--blue-gradient .card__text {
  margin-bottom: 0;
  font-weight: bold;
}
.card--blue-gradient .card__description {
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
}

.slider {
  display: flex;
}
.slider__card {
  background: linear-gradient(116deg, rgba(192, 192, 192, 0.63) -11%, rgba(255, 255, 255, 0.49) -11%, rgba(255, 255, 255, 0.07) 75%);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.slider__card--hero {
  margin-right: 20px;
  padding-left: 10px;
  height: 130px;
  flex-shrink: 0;
}
.slider__card--long {
  margin-right: 30px;
  border-radius: 50px;
  width: 252px;
  margin-bottom: 50px;
}
.slider__card--blue {
  background-color: #370665;
  border-radius: 25px;
  width: 260px;
  height: 450px;
  border: 5px solid #35589a;
  background-image: none;
  display: flex;
  flex-direction: column;
}
.slider__card--blue .card__image {
  height: 200px;
}
.slider__card--blue .card__text-container {
  height: 250px;
}

.group {
  display: flex;
  margin-bottom: 68px;
}
.group__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 18px;
}
.group__box--right {
  margin-right: 0px;
}
.group .box__number {
  border-radius: 32px;
  background: #370665;
  font-size: 46px;
  font-weight: 700;
  padding: 20px;
}
.group .box__text {
  font-size: 32px;
}

.position-absolute {
  position: absolute;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  padding: 40px;
  background: #370665;
}
.footer__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  margin-right: 20px;
}
.footer__title {
  font-weight: 700;
  margin-bottom: 12px;
}
.footer__text {
  list-style-type: none;
  padding: 0;
}
.footer__text .list-item {
  margin-bottom: 12px;
}
.footer__image-group {
  display: flex;
}
.footer__icon {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer__input {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #f14a16;
  padding: 10px 21px;
  color: #ffffff;
}
.footer__input::-moz-placeholder {
  font-family: "proxima_nova_rgregular";
}
.footer__input::placeholder {
  font-family: "proxima_nova_rgregular";
}
.footer__image-container {
  display: flex;
  justify-content: center;
}
.footer__image-container--lg {
  display: none;
}
.footer__end {
  font-size: 22px;
}

.image--hero {
  display: none;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 0 128px;
  }
  .section--hero {
    padding: 0;
    padding-left: 128px;
  }
  .section__slider-container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  .section__scroll {
    display: flex;
    align-items: center;
    transform: translateY(35px);
  }
  .section__scroll-container {
    margin-right: 10vw;
  }
  .section__slider--long {
    width: 85vw;
  }
  .slider__card--long {
    margin-right: 200px;
  }
  .card--text-only {
    height: auto;
    width: 80%;
  }
  .card__text-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section__image-container--margin-lg {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card--image-only {
    width: calc(50% - 30px);
    margin-right: 30px;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 112px;
  }
  .footer__form {
    flex-direction: row;
    gap: 30px;
  }
  .footer__group--bottom {
    transform: translateY(-150px);
    width: 40vw;
  }
  .footer__end {
    text-align: center;
  }
  .footer__image-container {
    align-self: center;
    order: -1;
  }
  .list-item {
    margin-top: 18px;
  }
  .card--blue-gradient {
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
  }
  .card__text-wrapper--column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card__logo-wrapper {
    flex-direction: row;
  }
  .container__search-bar {
    display: none;
  }
  .header--lg {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
  }
  .header--lg .header__logo {
    flex: 3;
    display: flex;
    align-items: center;
  }
  .header--lg .header__logo img {
    height: 60px;
    width: 60px;
  }
  .header--lg .nav__items {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header--lg .nav__item:hover {
    border-bottom: 1px #fc9918 solid;
    transform: translateY(1px);
    cursor: pointer;
  }
  .header--lg .header__items {
    flex: 3;
    gap: 12px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header--sm {
    display: none;
  }
  .gradient-block--left {
    left: 0%;
  }
  .gradient-block--right {
    right: 50px;
    left: auto;
  }
  .section__text-container {
    width: 50%;
  }
  .text-container__description {
    -webkit-line-clamp: 5;
  }
  .button-container {
    justify-content: center;
    gap: 8px;
  }
  .button-container--hero {
    justify-content: flex-start;
  }
  .image--hero {
    display: block;
    position: absolute;
    height: 100vh;
    z-index: -1;
    right: 0;
    top: 0;
  }
  .section--hero {
    margin-bottom: 100px;
  }
  .footer__image-container--lg {
    display: block;
  }
  .footer__image-container--sm {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .section--wrap {
    flex-wrap: wrap;
    height: 480px;
    flex-direction: column;
  }
  .section__image-container--overlap {
    order: -1;
  }
  .section__title--secondary {
    margin-top: 0;
  }
}
body.body--light {
  background: #fafafa;
}
body.body--light .header {
  color: black;
  background-color: rgb(255, 255, 255);
}
body.body--light .text-container__title--lg {
  color: black;
}
body.body--light .gradient-block {
  display: none;
}
body.body--light .invert-color {
  filter: invert(100%);
}
body.body--light .slider__card--hero {
  color: black;
}
body.body--light .section__title {
  color: black;
}
body.body--light .section__title--secondary {
  color: black;
}
body.body--light .box__text {
  color: black;
}
body.body--light .slider__card--long {
  background-color: #282828;
}
body.body--light .slider__card--blue {
  background-color: #370665;
}
body.body--light .header__toggle {
  background-color: white;
}
body.body--light .toggle__select {
  transform: translateX(-35px);
}/*# sourceMappingURL=styles.css.map */